body{
  background-color: #ffe0f7;
  text-align: center;
  font-family: 'Kotta One', serif;
  color: #b52b65;
}
h1{
  color: #f12b6b;
  font-family: 'Rancho', cursive;
  font-size: 10rem;
  padding: 10px;
}
.crushname{
  padding-top: 10px;
}
.check-button{
  padding: 20px;
}
.btn{
  color: #f12b6b;
  border-color: #f12b6b;
  font-size: 1.5rem;
}
.btn:hover{
  background-color: #f12b6b;
  color: #1b262c;
}
#percent{
  color: #f12b6b;
  font-family: 'Rancho', cursive;
  font-size: 10rem;
  padding: 10px;
}
footer{
  margin-top: 12%;
  color: #b52b65;
}
